# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

.env

# testing
/coverage

# DATABASE_URL="postgresql://neondb_owner:npg_VWgQs2ubxE4A@ep-dark-violet-a8iowhn5-pooler.eastus2.azure.neon.tech/neondb"

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
/.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.postgres-data